<section>
  <header>
    <h1>Visos prekės</h1>
  </header>
  <ul>
    <li *ngFor="let product of products | async">
      <div>
        <p class="title">{{product.title}}</p>
        <div class="zoom">
          <img src="{{product.url}}">
        </div>
        <p>Kategorija: {{product.category}}</p>
        <p>Dydis: {{(product.size).toUpperCase()}}</p>
        <p>Kaina: {{product.price}}</p>
      </div>
      <button (click)="addToBag(product.key)">Į krepšelį</button>
    </li>
  </ul>
</section>